body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

  


section{
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #6200ee;
    border-radius: 5px;
    padding: 10px;
}

p{
    font-size: 16px;
    color: #1a1a1a;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
}

select{
    display: block;
    margin: 0 auto 20px auto;
    font-size: 16px;
     padding: 8px;
    width: 200px;
    border: 1px solid #6200ee;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    }

a {
   display: inline;
    margin: 20px ;
    padding: 10px 20px;
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    text-decoration: none;
    text-decoration: underline;
}

hr{
    margin: 20px;
}