footer {
   /* background-image: linear-gradient(to bottom, white, gray);*/
   background: white;
    height: 100%;
   align-items: center;
    margin: 0 auto;
    font-family: sans-serif;
    
}

.conteudoFooter{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    
    

}

.footerColuna{
    flex: 1 1 200px;
  margin: 10px;
  
  
}

.footerImagem{
    display: flex;
    justify-content: center;
}

.footerLogo{
    width: 100px;
    
}


.footerLinks {
  margin: 10px 0;
  display: grid;
  justify-content: center;
  
}

.footerLinks a {
  color: #222;
  text-decoration: none;
  margin:5px 12px;
  font-size: 16px;



}



.linhaDeBaixo{
    background-color: #1f0052;
    height: 10px;
}

/* Responsividade do Rodapé */
@media (max-width: 768px) {
  .conteudoFooter {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footerColuna {
    height: fit-content;
    margin: 15px 0;
    align-items: center;
  }

  .footerLogo {
    width: 80px;
  }

  .footerLinks a {
    font-size: 15px;
    margin: 6px;
  }
}

@media (max-width: 480px) {
  .footerLogo {
    width: 70px;
  }

  #footer_copyright {
    font-size: 14px;
  }

  .footerLinks a {
    font-size: 14px;
  }
}

