* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    background: linear-gradient(to bottom, #a34fc1, #eac0f5);
    padding: 20px;
    
  }

  .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
  }

  .left,
  .right {
    background: white;
    border-radius: 12px;
    padding: 20px;
  }

  .left {
    flex: 3;
  }

  .right {
    flex: 1;
    background: white;
    height: 100%;
    
  }

  #destaque{
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    
  }

  .header-title {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    

    
  }

  .subtitle {
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px;
  }

  #destaque img{
    height: 200px;
    width: 200px;
    margin-top: -50px;

    
   
   
  }

  .info-card {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;


    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colunas de largura igual */
    gap: 20px; /* Espaçamento horizontal entre as divs */ 
    
    
  }

  .info-card .image-placeholder {
    background: #ccc;
    height: 200px;
    text-align: center;
    line-height: 120px;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  

  .info-card .title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4a0072;
    font-size: 2em;
   
  }

  .info-card .desc {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .desc p{
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: justify;
    word-spacing: -4px;
  }

  .desc ul li{
    margin-bottom: 20px; /* Espaço vertical entre os itens */
  }

  .info-card .link {
    font-size: 0.85em;
    color: #1900ff;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
  }

  .info-card .link:hover{
    transform: scale(1.2);
  }

  .info-card .btn {
    background: #c16af7;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85em;
    
    margin-left: 180px;
  }

  .info-card .btn:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 5px 0px #4a0072;
  }

  
  .right .news-item {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 0.9em;

    display: flex;
  }

  .right .news-item .thumb {
    background: #000;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 6px;
    
  }

  .right .news-item .text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 60px);
  }

  h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(16, 16, 112);
  }

  .h2-right{
    color: #4a0072;
  }
  
  .hr-titlle{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 80%; /* Altera a largura da linha */
    margin: 20px 150px; /* Altera o espaço acima e abaixo da linha */
  }
  
  hr{
    background-color: #ffe4e4; 
  height: 3px; /* Altera a altura da linha */
  border: none; /* Remove a borda padrão */
  width: 100%; /* Altera a largura da linha */
  margin: 20px 0; /* Altera o espaço acima e abaixo da linha */
  }

  .hr-right{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 100%; /* Altera a largura da linha */
    margin: 20px 0; /* Altera o espaço acima e abaixo da linha */

  }

  .hr-roxa{
    background-color: #4a0072;
    height: 3px; /* Altera a altura da linha */
    border: none; /* Remove a borda padrão */
    width: 100%; /* Altera a largura da linha */
    margin: 20px 0; /* Altera o espaço acima e abaixo da linha */
  }





  